
.container-sm{
    width: 70%;
    height: auto;
    
}
 
.btn-light {
    background-color: #f8f9fa;
    color: #212529;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-light:hover, .btn-light:active, .btn-danger:hover, .btn-danger:active {
    filter: brightness(90%);
  }
  
  .btn-ligth {
    display: flex;
    align-items: center;
  }
  
  .btn-ligth button {
    margin: 0 5px;
  }
  @media (max-width: 991px) {
    .container-sm {
      width: 90%; 
      margin-left: auto;
      margin-right: auto;
    }
  
    .btn-ligth {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .btn-ligth button {
      margin: 5px 0;
    }
  }
  

  