.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099;
}

.modal-main {
  
    position: fixed;
    background: white;
    width: 30rem;
    height: 25rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000; /* Örnek bir değer, ihtiyaca göre ayarlayın */
  
  
}

.modal.display-block {
  display: block;
}

.modal.display-none {
  display: none;
}
.btn-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
