.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099;
}

.modal-main {
  position: fixed;
  background: white;
  width: 30rem;
  height: 25rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.modal.display-block {
  display: block;
}

.modal.display-none {
  display: none;
}